<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/welcome.css">
    <title>Welcome Email</title>
    <style>
        p {
            letter-spacing: 0.1vw;
            margin: none;
            margin-top: 1vh;
            font-size: 14px;
        }

        small {
            color: #0ed3da;
        }
    </style>
</head>

<body>
    <h2 style="color: #0ed3da;">Hi there,{{name}}! </h2>
    <p>Thank you for joining <b>{{company}}</b>, and welcome! </p>
    <p>At <b>{{company}}</b>, we believe in integrity when serving our customers <br>
        and providing top-of-the-line products and services to our customers. </p>

    <p>We're glad to have you on board. </p>

    <p style="margin-bottom: 0;">Best regards</p>
    <small><b>{{company}}.org</b></small><br>
    <small><b>+254706306415</b></small>
</body>

</html>